<div class="landing-page">
  {% section 'countdown' %}
  {% section 'hero-sorteo' %}
  {% section 'beneficios-sorteo' %}
  {% section 'tabla-puestos' %}
  {% section 'testimonios-sorteo' %}
  {% section 'sobre-nosotros' %}
  {% section 'footer-sorteo' %}
</div>
